.medal-form-input-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bolder;
}

.medal-form-input {
    padding: 10px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.medal-form-input:focus {
    border-color: #76c4e3;
    outline: none;
}
