.medal-item-btn{
    background-color: #76c4e3;
    color: white;
}

.medal-item-btn:hover{
    background-color: #58a8c8; 
}

.medal-item-btn:focus {
    outline: none;
}

.medal-item-btn:active {
    background-color: #3f8aa3;
}